doctype html
html
    head
        title FlygfiskCS
        link(rel='stylesheet', href='main.css')
    body
        .header
            h1 FlygfiskCS
        p Flygfisk
        .feed
        script(src='./libs/socket.io.js')
        script(src='./main.js')