doctype html
head
    title FlygfiskCS
    link(rel='stylesheet', href='main.css')
body
    .statusRect(title='Connecting')
    .content
        .header
            h1 Flygfisk CS
        .scoreboard
    .feed
    .background
    script(src='./libs/socket.io.js')
    script(src='./libs/mithril.min.js')
    script(src='./main.js')
