doctype html
html
    head
        title FlygfiskCS
        link(rel='stylesheet', href='main.css')
    body
        .statusRect(title='Connecting')
        .feed
        .background
        script(src='./libs/socket.io.js')
        script(src='./libs/mithril.min.js')
        script(src='./main.js')