doctype html
html
    head
        title FlygfiskCS
        link(rel='stylesheet', href='main.css')
    body
        .feed
        .background
            .top
            .bottom
        script(src='./libs/socket.io.js')
        script(src='./main.js')